{% render 'partials/head.liquid' %}
<header> 
    <ul class="ham-items">
        <li><a href="/journal">Learning Log1</a></li>
        <li><a href="/journal">Learning Log2</a></li>
        <li><a href="/journal">Learning Log3</a></li>
    </ul>

    <nav>
        <a href="/">Anouar</a>
        <button aria-label="Menu" class="ham-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>

<video autoplay muted loop>
    <source src="assets/plantRain.mp4" type="video/mp4">
    <track src="captions_en.vtt" kind="captions" srclang="en" label="english_captions">
</video>

<img class="background-image" src="assets/plantRainImage.webp" alt="">

<main>
    <section class="classmates-section">
        <h1 class="classmates-h1">My classmates</h1>
        <div class="container">
                {% for person in persons %}
                    <div class="name-and-avatar">
                        <img width="200" src="{{ person.avatar }}" alt="">
                        <p>{{ person.name }}</p>
                    </div>
                {% endfor %}
        </div>

    </section>
</main>
    
{% render 'partials/foot.liquid' %}