{% render 'partials/head.liquid' %}

    <header> 
        <ul class="ham-items">
            <li><a href="/journal">Learning Log1</a></li>
            <li><a href="/journal">Learning Log2</a></li>
            <li><a href="/journal">Learning Log3</a></li>
        </ul>

        <nav>
            <a href="/">Anouar</a>
            <button class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>

    <video autoplay muted loop src="assets/plantRain.mp4"></video>

    <main>
        <section class="main-content">
            <h1>Welcome to my website!</h1>
            <h2>Take a dive through my experiences</h2>
        </section>

        <section class="about-me">

            <section class="about-me-start">
                <img class="pijl" src="assets/pijl.png" alt="plaatje van een pijl">
                <h2>What do i do?</h2>
            </section>

            <section class="study-section">
                <div>
                    <h3>I study Frontend Design & Development</h3>
                    <p>i document everything in my <a href="/journal">learning journal</a></p>
                </div>
                <img src="assets/schoolFoto.jpeg" alt="photo of the school i study at">
            </section>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        </section>
    </main>

    <footer>
        
    </footer>
    
    {% render 'partials/foot.liquid' %}