{% render 'partials/head.liquid' %}

    <header> 
        <ul class="ham-items">
            <li><a href="/journal">Learning Log1</a></li>
            <li><a href="/journal">Learning Log2</a></li>
            <li><a href="/journal">Learning Log3</a></li>
        </ul>

        <nav>
            <a href="/">Anouar</a>
            <button aria-label="Menu" class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>

    <video autoplay muted loop>
        <source src="assets/plantRain.mp4" type="video/mp4">
        <track src="captions_en.vtt" kind="captions" srclang="en" label="english_captions">
    </video>

    <img class="background-image" src="assets/plantRainImage.webp" alt="">

    <main>
        <section class="main-content">
            <h1>Welcome to my website!</h1>
            <h2>Take a dive through my experiences</h2>
        </section>

        <section class="about-me">

            <section class="about-me-start">
                <img width="" height="" class="pijl" src="assets/pijl.png" alt="picture of an arrow">
                <h2>What do i do?</h2>
            </section>

            <section class="study-section">
                <div>
                    <h3>I study Frontend Design & Development</h3>
                    <p>i document everything in my <a href="/journal">learning journal</a></p>
                </div>
                <img width="700" height="500" src="assets/schoolFoto.webp" alt="photo of the school i study at">
            </section>

            <section class="drawings">
                <h3>I like to draw sometimes</h3>
                <div>
                    <img width="500" height="400em" loading="lazy" src="assets/drawing1.webp" alt="a drawing of geto from jujutsu kaisen">
                    <img width="500" height="400em" loading="lazy" src="assets/drawing2.webp" alt="a drawing of the marvel character moonknight">
                    <img width="500" height="400em" loading="lazy" src="assets/drawing3.webp" alt="a drawing of clare from claymore">
                    <img width="500" height="400em" loading="lazy" src="assets/drawing4.webp" alt="a drawing of zoro from one piece">
                    <img width="500" height="400em" loading="lazy" src="assets/drawing5.webp" alt="a drawing of mahito from jujutsu kaisen">  
                </div>
            </section>

            <section class="haircuts">
                <h3>Taught myself how to cut hair</h3>
                <div>
                    <img width="500" height="400" loading="lazy" src="assets/haircut1.webp" alt="a picture of a haircut i gave">
                    <img width="500" height="400" loading="lazy" src="assets/haircut2.webp" alt="a picture of a haircut i gave">
                    <img width="500" height="400" loading="lazy" src="assets/haircut3.webp" alt="a picture of a haircut i gave">
                    <img width="500" height="400" loading="lazy" src="assets/haircut4.webp" alt="a picture of a haircut i gave">
                </div>
            </section>


        </section>
    </main>

    <footer>
        
    </footer>
    
    {% render 'partials/foot.liquid' %}