{% render 'partials/head.liquid' %}

    {% comment %} <a href="progressive.html">testetsttssttst</a> {% endcomment %}
    <header> 
        <ul class="ham-items">
            <li><a href="/journal">Learning Log1</a></li>
            <li><a href="/journal">Learning Log2</a></li>
            <li><a href="/journal">Learning Log3</a></li>
        </ul>

        <nav>
            <a href="/">Anouar</a>
            <button class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>

    <video autoplay muted loop src="assets/plantRain.mov"></video>

    <main>
        <section class="main-content">
            <h1>Welcome to my website!</h1>

            <section class="foto-en-naam">
                <h2>A n o u a r</h2>
                <img src="assets/eigen-foto.jpg" alt="foto van mij op straat in het donker met mooie verlichting">
            </section>
    
            <h2>Take a dive through my experiences</h2>
    
            <section class="over-mij">
                <img class="pijl" src="assets/pijl.png" alt="">
            </section>
        </section>
    </main>

    <footer>
        
    </footer>
    
    {% render 'partials/foot.liquid' %}