body{
    margin: 0;
    font-family: 'ubuntu', sans-serif;
    /* background: url(../assets/rain4k.mp4); */

}
 
header{
    position: sticky;
    top: 0;
}

.ham-items{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    list-style: none;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    right: -350px;
    transition: .4s cubic-bezier(.11,.03,.67,1.93);
    top: -1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    a{
        text-decoration: none;
        color: white;
        font-size: 1.5em;
    }
    li:nth-of-type(1){
        margin-top: 8em;
    }
}

.ham-items.active{
    right: 0;
}

nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.5em;
    align-items: center;

    a{
       text-decoration: none;
       color: white;
       font-size: 3em; 
    }
}

.logo{
    width: 1.4em;
    height: 1.7em;
    background-color: rgb(36, 59, 38);
    padding-block: .6em;
    padding-inline: .9em;

    border-radius: .4em;
}

nav button{
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.ham-menu{
    width: 3em;
    height: 3em;
    margin-left: auto;
    position: relative;
}

.ham-menu span{
    height: .3em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

video{
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 130%;
}  

main{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    /* justify-content: center; */

}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
}

.foto-en-naam{
    color: white;
    display: flex;
    gap: 1em;
    max-width: 80%;
    /* width: 80%; */
    /* padding: 1em; */
    align-items: center;

    h2{
        max-width: 1em;
    }

    img{
        /* aspect-ratio: 4/2;
        max-width: 230px;
        max-height: 150px; */
        width: 100%;
    }
}

h2{
    color: white;
}

.over-mij{
    background-color: black;
    width: 100vw;
    margin-top: 60vh;
    z-index: 999;
    img{
        justify-self: center;
    }
}


article{
    width: 80vw;
    background-color: rgba(211, 211, 211, 0.8);
    padding: 2em;
    border-radius: 1em;

}

article:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.8);
}